.img-wrapper img {
    max-width: 100px; /* Adjust the width as per your requirement */
    height: auto;
}
.img-wrapper1 img {
    max-width: 200px; /* Adjust the width as per your requirement */
    height: auto;
}



body{
    background-image: url("4196050.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: v-bind();



}